/*
  Tick.tick-flip
*/
/* line 20, ../scss/tick.scss */
.tick-flip + p {
  clear: both;
}

/* line 24, ../scss/tick.scss */
.tick-flip {
  position: relative;
  float: left;
  padding: 7px;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
  margin-bottom: 0.125em;
  box-shadow: 0 0 6px #969696;
  /* background: $gradient; */
  background-color: #2d2d2d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2D2D2D', endColorstr='#FF464646');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d2d2d), color-stop(30%, #464646));
  background-image: -webkit-linear-gradient(top, #2d2d2d 0%, #464646 30%);
  background-image: -moz-linear-gradient(top, #2d2d2d 0%, #464646 30%);
  background-image: -o-linear-gradient(top, #2d2d2d 0%, #464646 30%);
  background-image: -ms-linear-gradient(top, #2d2d2d 0%, #464646 30%);
  background-image: linear-gradient(top, #2d2d2d 0%, #464646 30%);
  /* Fallback styles */
  color: white;
  width: 100%;
  line-height: 1;
  font-size: 4.75em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

/* line 54, ../scss/tick.scss */
.tick-flip.tick-active {
  width: auto;
  color: #1e1e1e;
}

/* line 58, ../scss/tick.scss */
.tick-flip .tick-seperator {
  margin: 0 2px;
  font-size: 0.6em;
  color: #b4b4b4;
}

/* line 63, ../scss/tick.scss */
.tick-flip .tick-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  border-radius: 4px;
}

/* line 69, ../scss/tick.scss */
.tick-flip .tick-wrapper:after {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 998;
  display: block;
  height: 1px;
  width: 100%;
  content: '';
  background-color: #323232;
}

/* line 81, ../scss/tick.scss */
.tick-flip .tick-wrapper span {
  padding: 0 5px;
}

/* line 85, ../scss/tick.scss */
.tick-flip .tick-old {
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 5px black;
  /* background: $old_gradient; */
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFBEBEBE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(60%, #ffffff), color-stop(100%, #bebebe));
  background-image: -webkit-linear-gradient(top, #ffffff 60%, #bebebe 100%);
  background-image: -moz-linear-gradient(top, #ffffff 60%, #bebebe 100%);
  background-image: -o-linear-gradient(top, #ffffff 60%, #bebebe 100%);
  background-image: -ms-linear-gradient(top, #ffffff 60%, #bebebe 100%);
  background-image: linear-gradient(top, #ffffff 60%, #bebebe 100%);
}

/* line 95, ../scss/tick.scss */
.tick-flip .tick-new {
  overflow: hidden;
  position: absolute;
  z-index: 998;
  top: 0;
  display: block;
  height: 50%;
  border-radius: 4px 4px 0 0;
  /* background: $new_gradient; */
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFBEBEBE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #bebebe));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #bebebe 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #bebebe 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #bebebe 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #bebebe 100%);
  background-image: linear-gradient(top, #ffffff 0%, #bebebe 100%);
}

/* line 112, ../scss/tick.scss */
.tick-flip .tick-old-move,
.tick-flip .tick-new-move {
  overflow: hidden;
  position: absolute;
  display: none;
  border-radius: 4px;
  background: white;
}

/* line 120, ../scss/tick.scss */
.tick-flip .tick-moving {
  display: block;
}

/* line 124, ../scss/tick.scss */
.tick-flip .tick-old-move {
  z-index: 999;
  bottom: 50%;
  height: 50%;
  /* background: $old_move_gradient; */
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFB4B4B4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #b4b4b4));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #b4b4b4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #b4b4b4 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #b4b4b4 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #b4b4b4 100%);
  background-image: linear-gradient(top, #ffffff 0%, #b4b4b4 100%);
  box-shadow: 0 -4px 4px -3px black;
  transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
}

/* line 142, ../scss/tick.scss */
.tick-flip .tick-new-move {
  z-index: 997;
  height: 100%;
  top: 0;
  border-radius: 50px 50px 4px 4px;
  /* background: $new_move_gradient; */
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFB4B4B4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffffff), color-stop(100%, #b4b4b4));
  background-image: -webkit-linear-gradient(top, #ffffff 40%, #b4b4b4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 40%, #b4b4b4 100%);
  background-image: -o-linear-gradient(top, #ffffff 40%, #b4b4b4 100%);
  background-image: -ms-linear-gradient(top, #ffffff 40%, #b4b4b4 100%);
  background-image: linear-gradient(top, #ffffff 40%, #b4b4b4 100%);
  box-shadow: 0 4px 4px -3px black;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
}

/*
  Tick.tick-scroll
*/
/* line 167, ../scss/tick.scss */
.tick-scroll {
  overflow: hidden;
  position: relative;
  float: left;
  padding: 0 10px;
  height: 96px;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
  box-shadow: 0 0 6px #969696;
  color: #1e1e1e;
  line-height: 1;
  font-size: 4em;
  text-align: center;
  background-color: #3c3c3c;
}

/*
  Adding depth to the ticker by overlaying some gradients
*/
/* line 190, ../scss/tick.scss */
.tick-scroll:before,
.tick-scroll:after {
  position: absolute;
  z-index: 999;
  left: 0;
  content: '';
  width: 100%;
  height: 30%;
  border-radius: 5px;
}

/* line 200, ../scss/tick.scss */
.tick-scroll:before {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF282828', endColorstr='#00282828');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #282828), color-stop(20%, #282828), color-stop(100%, rgba(40, 40, 40, 0)));
  background-image: -webkit-linear-gradient(top, #282828 0%, #282828 20%, rgba(40, 40, 40, 0) 100%);
  background-image: -moz-linear-gradient(top, #282828 0%, #282828 20%, rgba(40, 40, 40, 0) 100%);
  background-image: -o-linear-gradient(top, #282828 0%, #282828 20%, rgba(40, 40, 40, 0) 100%);
  background-image: -ms-linear-gradient(top, #282828 0%, #282828 20%, rgba(40, 40, 40, 0) 100%);
  background-image: linear-gradient(top, #282828 0%, #282828 20%, rgba(40, 40, 40, 0) 100%);
}

/* line 204, ../scss/tick.scss */
.tick-scroll:after {
  bottom: 0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00282828', endColorstr='#FF282828');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(40, 40, 40, 0)), color-stop(80%, #282828), color-stop(100%, #282828));
  background-image: -webkit-linear-gradient(top, rgba(40, 40, 40, 0) 0%, #282828 80%, #282828 100%);
  background-image: -moz-linear-gradient(top, rgba(40, 40, 40, 0) 0%, #282828 80%, #282828 100%);
  background-image: -o-linear-gradient(top, rgba(40, 40, 40, 0) 0%, #282828 80%, #282828 100%);
  background-image: -ms-linear-gradient(top, rgba(40, 40, 40, 0) 0%, #282828 80%, #282828 100%);
  background-image: linear-gradient(top, rgba(40, 40, 40, 0) 0%, #282828 80%, #282828 100%);
}

/*
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
/* line 213, ../scss/tick.scss */
.tick-scroll .tick-wheel {
  position: relative;
  display: inline-block;
  width: 50px;
  border-right: 1px solid #969696;
  border-left: 1px solid #969696;
  margin: 0 2px;
  background-color: white;
}

/* line 224, ../scss/tick.scss */
.tick-scroll .tick-wheel span {
  display: block;
  padding: 16px 0;
}

/* line 229, ../scss/tick.scss */
.tick-scroll .tick-seperator {
  font-weight: normal;
}

/*
  Tick.tick-slide
*/
/* line 238, ../scss/tick.scss */
.tick-slide {
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #141414;
}

/* line 245, ../scss/tick.scss */
.tick-slide span {
  display: inline-block;
  width: 50px;
  height: 65px;
  border-right: 1px solid #787878;
  border-left: 1px solid #787878;
  margin-right: 2px;
  font-size: 1.5em;
  background: url("../img/sprite.gif");
  text-indent: -999em;
}

/* line 260, ../scss/tick.scss */
.tick-slide .seperator {
  width: 20px;
  padding-right: 2px;
  padding-left: 0;
  border: 0 none;
  background: url("../img/seperator.gif") no-repeat top center;
}
