
$background: rgb(255,255,255);
$foreground: rgb(30,30,30);

$border_color: rgb(30,30,30);
$box_shadow_color: rgb(150,150,150);
$gradient: -webkit-linear-gradient(top, rgba(45,45,45,1) 0%,rgba(70,70,70,1) 30%);

$old_gradient: -webkit-linear-gradient(top, rgba(255,255,255,1) 60%,rgba(190,190,190,1) 100%);
$old_move_gradient: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(180,180,180,1) 100%);
$new_gradient:  -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(190,190,190,1) 100%);
$new_move_gradient: -webkit-linear-gradient(top, rgba(255,255,255,1) 40%,rgba(180,180,180,1) 100%);

$move_background: rgb(255,255,255);
$seperator_color: rgb(180,180,180);
$bar_color: rgb(50,50,50);
$bar_height: 1px;

$move_shadow_color: rgb(0,0,0);

/* */



/* Declare Font Families for Internet Explorer < 9 */
@font-face {
  font-family: "ff-dagny-web-pro-1";
  src: url("../font/DagnyWebPro.eot");
  font-style: normal;
  font-weight: 400;
}
/* Declare Font Families for WOFF-capable browsers */
@font-face {
  font-family: "ff-dagny-web-pro-1";
  src: url(../font/DagnyWebPro-Xlight.woff) format("woff");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "ff-dagny-web-pro-1";
  src: url(../font/DagnyWebPro.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "ff-dagny-web-pro-1";
  src: url(../font/DagnyWebPro-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 600;
}


body {
	width: 640px;
	margin: 0 auto;
	font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: $background;
	color: $foreground;
}

h1 {
	margin: 1em 0 0;
	font-size: 2em;
	font-weight: bold;
}

p {
	overflow: hidden;
	clear: both;
	margin: 1.5em 0;
	line-height: 1.5;
}

em {
	clear: left;
	float: left;
	display: inline-block;
	padding: 2px 5px;
	border-radius: 4px;
}


/*
	Tick.tick-flip
*/
.tick-flip {
	position: relative;
	float: left;
	padding: 7px;
	border: 7px solid $border_color;
	border-radius: 5px;
	box-shadow: 0 0 6px $box_shadow_color;
	background: $gradient;

	line-height: 1;

	font: {
		size: 4em;
	}

	text: {
		align: center;
	}
}
	.tick-flip .seperator {
		margin: 0 2px;
		font-size: 0.6em;
		color: $seperator_color;
	}
	.tick-flip .wrapper {
		position: relative;
		display: inline-block;
		margin: 0 2px;
		border-radius: 4px;
	}
		.tick-flip .wrapper:after {
			position: absolute;
			display: block;
			top: 50%;
			z-index: 996;
			display: block;
			height: $bar_height;
			width: 100%;
			content: '';
			background-color: $bar_color;
		}

		.tick-flip .wrapper span {
			padding: 0 5px;
		}

		.tick-flip .old {
			display: block;
			border-radius: 4px;
			box-shadow: 0 0 5px $move_shadow_color;
			background: $old_gradient;
		}
		.tick-flip .new {
			overflow: hidden;
			position: absolute;
			z-index: 998;
			top: 0;

			display: block;
			height: 50%;
			border-radius: 4px 4px 0 0;

			background: $new_gradient;
		}

		.tick-flip .old-move,
		.tick-flip .new-move {
			overflow: hidden;
			position: absolute;
			display: none;
			border-radius: 4px;
			background: $move_background;
		}

		.tick-flip .moving {
			display: block;
		}

		.tick-flip .old-move {
			z-index: 999;
			bottom: 50%;
			height: 50%;
			background: $old_move_gradient;
			box-shadow: 0 -4px 4px -3px $move_shadow_color;
			-webkit-transform-origin: bottom left;
		}
		.tick-flip .new-move {
			z-index: 997;
			height: 100%;
			top: 0;
			border-radius: 50px 50px 4px 4px;
			background: $new_move_gradient;
			box-shadow: 0 4px 4px -3px $move_shadow_color;
			-webkit-transform-origin: top left;
		}




/*
	Tick.tick-scroll
*/
.tick-scroll {
	overflow: hidden;
	position: relative;
	float: left;

	padding: 0 10px;
	height: 96px;
	border-radius: 5px;

	color: rgb(255,255,255);
	line-height: 1;

	font: {
		size: 4em;
		weight: bold;
	}

	text: {
		align: center;
		shadow: 0 0 5px rgb(50,50,50);
	}

	background-color: rgb(40,40,40);
}
	/*
		Adding depth to the ticker by overlaying some gradients
	*/
	.tick-scroll:before,
	.tick-scroll:after {
		position: absolute;
		z-index: 999;
		left: 0;
		content: '';

		width: 100%;
		height: 30%;
		border-radius: 5px;

		background: red;
	}
	.tick-scroll:before {
		background: -webkit-linear-gradient(top,  rgba(40,40,40,1) 0%,rgba(40,40,40,1) 20%,rgba(40,40,40,0) 100%);
		background: linear-gradient(top,  rgba(40,40,40,1) 0%,rgba(40,40,40,1) 20%,rgba(40,40,40,0) 100%);
	}
	.tick-scroll:after {
		bottom: 0;
		background: -webkit-linear-gradient(top,  rgba(40,40,40,0) 0%,rgba(40,40,40,0) 1%,rgba(40,40,40,1) 80%,rgba(40,40,40,1) 100%);
		background: linear-gradient(top,  rgba(40,40,40,0) 0%,rgba(40,40,40,0) 1%,rgba(40,40,40,1) 80%,rgba(40,40,40,1) 100%);
	}
	/*
		+++++++++++++++++++++++++++++++++++++++++++++++++++++++
	*/

	.tick-scroll .wheel {
		position: relative;
		display: inline-block;
		width: 50px;

		border-right: 1px solid rgb(150,150,150);
		border-left: 1px solid rgb(150,150,150);
		margin: 0 2px;

		background-color: rgb(80,80,80);
	}
		.tick-scroll .wheel span {
			display: block;
			padding: 16px 0;
		}

	.tick-scroll .seperator {
		font-weight: normal;
	}





/*
	Tick.slide [DEPRECATED]
*/
.sliding {
	display: inline-block;
	padding: 10px;

	color: rgb(255,255,255);
	background-color: rgb(20,20,20);
}
	.sliding span {
		display: inline-block;

		width: 50px;
		height: 65px;

		border-right: 1px solid rgb(120,120,120);
		border-left: 1px solid rgb(120,120,120);
		margin-right: 2px;

		font-size: 1.5em;
		background: url('../img/sprite.gif');
		text-indent: -999em;
	}

	.sliding .seperator {
		width: 20px;
		padding-right: 2px;
		padding-left: 0;
		border: 0 none;
		background: url('../img/seperator.gif') no-repeat top center;
	}
/* */































