@import 'compass';


$background: rgb(255,255,255);
$foreground: rgb(30,30,30);

$border_color: rgb(30,30,30);
$box_shadow_color: rgb(150,150,150);
/* $gradient: -webkit-linear-gradient(top, rgba(45,45,45,1) 0%,rgba(70,70,70,1) 30%); */

/* $old_gradient: -webkit-linear-gradient(top, rgba(255,255,255,1) 60%,rgba(190,190,190,1) 100%); */
/* $old_move_gradient: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(180,180,180,1) 100%); */
/* $new_gradient: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(190,190,190,1) 100%); */
/* $new_move_gradient: -webkit-linear-gradient(top, rgba(255,255,255,1) 40%,rgba(180,180,180,1) 100%); */

$move_background: rgb(255,255,255);
$seperator_color: rgb(180,180,180);
$bar_color: rgb(50,50,50);
$bar_height: 1px;

$move_shadow_color: rgb(0,0,0);


/*
	Tick.tick-flip
*/
.tick-flip + p {
	clear: both;
	text-align: right;
}
.tick-flip {
	position: relative;
	float: left;
	padding: 7px;
	border: 1px solid $border_color;
	border-radius: 5px;
	margin-bottom: 0.125em;
	box-shadow: 0 0 6px $box_shadow_color;

	/* background: $gradient; */
	background-color: rgb(45,45,45);
	@include filter-gradient(#2d2d2d, #464646, vertical);
	@include background-image(linear-gradient(top,  rgb(45,45,45) 0%,rgb(70,70,70) 30%));


	/* Fallback styles */
	color: $background;
	width: 100%;

	line-height: 1;

	font: {
		size: 4.75em;
		family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	text: {
		align: center;
	}
}
.tick-flip.tick-active {
	width: auto;
	color: $foreground;
}
	.tick-flip .tick-seperator {
		margin: 0 2px;
		font-size: 0.6em;
		color: $seperator_color;
	}
	.tick-flip .tick-wrapper {
		position: relative;
		display: inline-block;
		margin: 0 2px;
		border-radius: 4px;
	}
		.tick-flip .tick-wrapper:after {
			position: absolute;
			display: block;
			top: 50%;
			z-index: 996;
			display: block;
			height: $bar_height;
			width: 100%;
			content: '';
			background-color: $bar_color;
		}

		.tick-flip .tick-wrapper span {
			padding: 0 5px;
		}

		.tick-flip .tick-old {
			display: block;
			border-radius: 4px;
			box-shadow: 0 0 5px $move_shadow_color;

			/* background: $old_gradient; */
			background-color: rgb(255,255,255);
			@include filter-gradient(#ffffff, #bebebe, vertical);
			@include background-image(linear-gradient(top,  rgb(255,255,255) 60%,rgb(190,190,190) 100%));
		}
		.tick-flip .tick-new {
			overflow: hidden;
			position: absolute;
			z-index: 998;
			top: 0;

			display: block;
			height: 50%;
			border-radius: 4px 4px 0 0;

			/* background: $new_gradient; */
			background-color: rgb(255,255,255);
			@include filter-gradient(#ffffff, #bebebe, vertical);
			@include background-image(linear-gradient(top,  rgb(255,255,255) 0%,rgb(190,190,190) 100%));
		}

		.tick-flip .tick-old-move,
		.tick-flip .tick-new-move {
			overflow: hidden;
			position: absolute;
			display: none;
			border-radius: 4px;
			background: $move_background;
		}

		.tick-flip .tick-moving {
			display: block;
		}

		.tick-flip .tick-old-move {
			z-index: 999;
			bottom: 50%;
			height: 50%;

			/* background: $old_move_gradient; */
			background-color: rgb(255,255,255);
			@include filter-gradient(#ffffff, #b4b4b4, vertical);
			@include background-image(linear-gradient(top,  rgb(255,255,255) 0%,rgb(180,180,180) 100%));

			box-shadow: 0 -4px 4px -3px $move_shadow_color;

			transform-origin: bottom left;
			-webkit-transform-origin: bottom left;
			-moz-transform-origin: bottom left;
			-ms-transform-origin: bottom left;
			-o-transform-origin: bottom left;
		}
		.tick-flip .tick-new-move {
			z-index: 997;
			height: 100%;
			top: 0;
			border-radius: 50px 50px 4px 4px;

			/* background: $new_move_gradient; */
			background-color: rgb(255,255,255);
			@include filter-gradient(#ffffff, #b4b4b4, vertical);
			@include background-image(linear-gradient(top,  rgb(255,255,255) 40%,rgb(180,180,180) 100%));

			box-shadow: 0 4px 4px -3px $move_shadow_color;

			transform-origin: top left;
			-webkit-transform-origin: top left;
			-moz-transform-origin: top left;
			-ms-transform-origin: top left;
			-o-transform-origin: top left;
		}




/*
	Tick.tick-scroll
*/
.tick-scroll {
	overflow: hidden;
	position: relative;
	float: left;

	padding: 0 10px;
	height: 96px;
	border-radius: 5px;

	color: rgb(255,255,255);
	line-height: 1;

	font: {
		size: 4em;
		weight: bold;
	}

	text: {
		align: center;
		shadow: 0 0 5px rgb(50,50,50);
	}

	background-color: rgb(40,40,40);
}
	/*
		Adding depth to the ticker by overlaying some gradients
	*/
	.tick-scroll:before,
	.tick-scroll:after {
		position: absolute;
		z-index: 999;
		left: 0;
		content: '';

		width: 100%;
		height: 30%;
		border-radius: 5px;

		background: red;
	}
	.tick-scroll:before {
		@include filter-gradient(rgb(40,40,40), rgba(40,40,40,0), vertical);
		@include background-image(linear-gradient(top,  rgba(40,40,40,1) 0%,rgba(40,40,40,1) 20%,rgba(40,40,40,0) 100%));
	}
	.tick-scroll:after {
		bottom: 0;
		@include filter-gradient(rgba(40,40,40,0), rgb(40,40,40), vertical);
		@include background-image(linear-gradient(top,  rgba(40,40,40,0) 0%,rgba(40,40,40,1) 80%,rgba(40,40,40,1) 100%));
	}
	/*
		+++++++++++++++++++++++++++++++++++++++++++++++++++++++
	*/

	.tick-scroll .tick-wheel {
		position: relative;
		display: inline-block;
		width: 50px;

		border-right: 1px solid rgb(150,150,150);
		border-left: 1px solid rgb(150,150,150);
		margin: 0 2px;

		background-color: rgb(80,80,80);
	}
		.tick-scroll .tick-wheel span {
			display: block;
			padding: 16px 0;
		}

	.tick-scroll .tick-seperator {
		font-weight: normal;
	}