/* Declare Font Families for Internet Explorer < 9 */
@font-face {
  font-family: "ff-dagny-web-pro-1";
  src: url("../font/DagnyWebPro.eot");
  font-style: normal;
  font-weight: 400; }

/* Declare Font Families for WOFF-capable browsers */
@font-face {
  font-family: "ff-dagny-web-pro-1";
  src: url(../font/DagnyWebPro-Xlight.woff) format("woff");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: "ff-dagny-web-pro-1";
  src: url(../font/DagnyWebPro.woff) format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "ff-dagny-web-pro-1";
  src: url(../font/DagnyWebPro-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 600; }

/* */
/* */
/* */
body {
  width: 800px;
  margin: 0 auto;
  font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
  color: #1e1e1e; }

h1 {
  margin: 1em 0 0;
  font-size: 2em;
  font-weight: bold; }

p {
  clear: both;
  margin: 1.5em 0;
  line-height: 1.5; }

/*
	Tick.flip
*/
.ticker.flip {
  position: relative;
  float: left;
  padding: 15px 10px;
  border: 10px solid #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 6px #969696;
  background: -webkit-linear-gradient(top, #c8c8c8 0%, #fafafa 20%);
  line-height: 1;
  font-size: 6em;
  text-align: center; }

.ticker.flip .seperator {
  margin: 0 5px;
  font-size: 0.6em;
  color: #646464; }

.ticker.flip .wrapper {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  border-radius: 4px; }

.ticker.flip .wrapper:after {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 999;
  display: block;
  height: 1px;
  width: 100%;
  content: '';
  background-color: #c8c8c8; }

.ticker.flip .wrapper span {
  padding: 0 5px; }

.ticker.flip .old {
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 5px #505050;
  background: -webkit-linear-gradient(top, white 30%, #c8c8c8 100%); }

.ticker.flip .new {
  overflow: hidden;
  position: absolute;
  z-index: 998;
  top: 0;
  display: block;
  height: 50%;
  border-radius: 4px 4px 0 0;
  background: -webkit-linear-gradient(top, white 0%, #c8c8c8 100%); }

.ticker.flip .old-move,
.ticker.flip .new-move {
  overflow: hidden;
  position: absolute;
  display: none;
  border-radius: 4px;
  background: #c8c8c8; }

.ticker.flip .moving {
  display: block; }

.ticker.flip .old-move {
  z-index: 999;
  bottom: 50%;
  height: 50%;
  background: -webkit-linear-gradient(top, white 0%, #afafaf 100%);
  box-shadow: 0 -5px 7px -5px #969696;
  -webkit-transform-origin: bottom left; }

.ticker.flip .new-move {
  z-index: 997;
  height: 100%;
  top: 0;
  background: -webkit-linear-gradient(top, white 40%, #b4b4b4 100%);
  box-shadow: 0 4px 6px -4px #969696;
  -webkit-transform-origin: top left; }

/*
	Tick.scroll
*/
.ticker.scrolling {
  overflow: hidden;
  position: relative;
  float: left;
  padding: 0 10px;
  height: 96px;
  border-radius: 5px;
  color: white;
  line-height: 1;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 5px #323232;
  background-color: #282828; }

/*
	Adding depth to the ticker by overlaying some gradients
*/
.ticker.scrolling:before,
.ticker.scrolling:after {
  position: absolute;
  z-index: 999;
  left: 0;
  content: '';
  width: 100%;
  height: 30%;
  border-radius: 5px;
  background: red; }

.ticker.scrolling:before {
  background: -webkit-linear-gradient(top, #282828 0%, #282828 20%, rgba(40, 40, 40, 0) 100%);
  background: linear-gradient(top, #282828 0%, #282828 20%, rgba(40, 40, 40, 0) 100%); }

.ticker.scrolling:after {
  bottom: 0;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0) 0%, rgba(40, 40, 40, 0) 1%, #282828 80%, #282828 100%);
  background: linear-gradient(top, rgba(40, 40, 40, 0) 0%, rgba(40, 40, 40, 0) 1%, #282828 80%, #282828 100%); }

/*
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.ticker.scrolling .wheel {
  position: relative;
  display: inline-block;
  width: 50px;
  border-right: 1px solid #969696;
  border-left: 1px solid #969696;
  margin: 0 2px;
  background-color: #505050; }

.ticker.scrolling .wheel span {
  display: block;
  padding: 16px 0; }

.ticker.scrolling .seperator {
  font-weight: normal; }

/*
	Tick.slide [DEPRECATED]
*/
.ticker.sliding {
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #141414; }

.ticker.sliding span {
  display: inline-block;
  width: 50px;
  height: 65px;
  border-right: 1px solid #787878;
  border-left: 1px solid #787878;
  margin-right: 2px;
  font-size: 1.5em;
  background: url("../img/sprite.gif");
  text-indent: -999em; }

.ticker.sliding .seperator {
  width: 20px;
  padding-right: 2px;
  padding-left: 0;
  border: 0 none;
  background: url("../img/seperator.gif") no-repeat top center; }

/* */
